@font-face {
  font-family: "Kalpurush";
  src: url("../fonts/Kalpurush/kalpurush-kalpurush.eot");
  src: url("../fonts/Kalpurush/kalpurush-kalpurush.woff") format("woff"),
    url("../fonts/Kalpurush/Kalpurush-Regular.ttf") format("truetype"),
    url("../fonts/Kalpurush/kalpurush-kalpurush.svg") format("svg"),
    url("../fonts/Kalpurush/kalpurush-kalpurush.eot")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.ministry-main {
  font-family: "Kalpurush";
}
p {
  font-family: "Kalpurush" !important;
}

/* ministry-modal */
.ministry-modal .modal-header,
.ministry-modal .modal-footer {
  background-color: #f4fff8;
  color: #0b9640;
}

.ministry-form .mf-component {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin-bottom: 18px;
}

.ministry-form .mf-component .header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 5px;
}

.ministry-form .mf-component .header .number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ministry-form .mf-component .header .number.active {
  background-color: #f5fff9;
  border: 1px solid #f4f6f9;
}

button.one-info {
  background: #f7ffed;
  padding: 10px;
}

.ministry-form .mf-component.one ul li {
  margin-left: 1rem;
  list-style-type: disc !important;
}

.ministry-form .mf-component.three-four .yes .grohita {
  background-color: #f8f9f8;
  color: #9c7c00;
  padding: 10px;
}

.ministry-form .mf-component.three-four .kotojon-khotian {
  max-width: 325px;
}

.ministry-form .mf-component.three-four .kotojon-khotian input {
  font-size: 12px;
  padding: 20px 14px;
}

.ministry-form .mf-component.three-four .kotojon-khotian button {
  background-color: #0db14b;
  color: white;
  width: 108px;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ministry-form .mf-component.five .dolil-jukto span {
  background-color: #0db14b;
  color: white;
}
.ministry-form .mf-component.five .dolil-jukto label::after {
  content: "";
  padding: 0;
}

.ministry-form table thead tr th {
  background-color: #f0f0f0;
  border: none;
  text-align: center;
  font-weight: normal;
}

.ministry-form table tbody tr td {
  background-color: #fcfcfc;
}

.ministry-form table tbody tr td select {
  max-width: 90px;
  margin: auto;
  border-color: #0db14b;
}
.ministry-form table tbody tr td select:hover {
  background-color: #42a045;
}
.ministry-form table tbody tr td select:focus {
  background-color: #fcfcfc;
}

.ministry-form .mf-component.seven table tbody tr td a {
  margin: -5px 0;
}

.ministry-bottom-menu button {
  margin: 0.5rem;
}
.ministry-bottom-menu button.light {
  background-color: #ebecef;
}
.ministry-bottom-menu button.blue {
  background-color: #0065ff;
}
