@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Kalpurush";
  src: url("../fonts/Kalpurush/kalpurush-kalpurush.eot");
  src: url("../fonts/Kalpurush/kalpurush-kalpurush.woff") format("woff"),
    url("../fonts/Kalpurush/Kalpurush-Regular.ttf") format("truetype"),
    url("../fonts/Kalpurush/kalpurush-kalpurush.svg") format("svg"),
    url("../fonts/Kalpurush/kalpurush-kalpurush.eot")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}
.font-kalpurush {
  font-family: "Kalpurush", sans-serif !important;
}

.ministry-main p {
  font-family: "Kalpurush" !important;
}
.ministry-main input[type="date"].form-control.form-control-lg,
.ministry-main select.form-control.form-control-lg,
.ministry-main .input-group-lg .input-group-prepend .input-group-text {
  font-size: 16px;
  height: 48px;
}

.ministry-main {
  font-family: "Kalpurush";
}

.whitespace-nowrap {
  white-space: nowrap;
}
.btn-blue {
  background-color: #0065ff;
  color: white;
}
.btn-blue:hover {
  background-color: #0653c7;
  color: white;
}

.btn-blue-green {
  background-color: #17a2b7;
  color: white;
}
.btn-blue-green:hover {
  background-color: #138697;
  color: white;
}

/* ministry-modal */

.ministry-main .modal .modal-dialog .btn,
.ministry-main .modal .modal-title,
.ministry-main .modal .modal-title span,
.ministry-main .modal .modal-body p,
.ministry-main .modal .modal-body h3,
.ministry-main .modal .modal-body h6,
.ministry-main .modal .modal-body a,
.ministry-main .modal .modal-body span,
.ministry-main .modal .modal-body li,
.ministry-main .modal .modal-body div,
.ministry-main .modal .modal-body {
  font-family: "Kalpurush" !important;
}

.ministry-modal {
  font-family: "Kalpurush";
}
.ministry-modal .modal-header,
.ministry-modal .modal-footer {
  background-color: #f4fff8;
  color: #0b9640;
}
.ministry-modal .modal-body .card .card-header {
  background-color: #ebedf0;
}

.ministry-main .ministry-form .add_document p {
  font-family: "Roboto", sans-serif !important;
}
.ministry-form .mf-component {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin-bottom: 18px;
}
.ministry-form .mf-component .input-group-prepend span {
  background-color: #f3f6fd;
  border-color: #c2c7d0;
}

.ministry-form .mf-component .file-add .input-group-prepend span {
  background-color: #28a745;
  color: white;
}
.ministry-form .mf-component .file-add label.custom-file-label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 8rem;
  border-color: white;
}
.ministry-form .mf-component .file-add label.custom-file-label::before {
  content: "Select File";
  width: 115px;
  height: 100%;
  display: block;
  background: #28a745;
  color: white;
  position: absolute;
  left: 0;
  z-index: 1;
  padding-top: 6px;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.ministry-form .mf-component .file-add label.custom-file-label::after {
  content: url("../images/menu-icon-songjukti-white.svg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 8px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}

.ministry-form .mf-component .header h6 {
  font-family: "Kalpurush" !important;
  margin-bottom: 10px;
  color: #000000;
}
.ministry-form .mf-component .header h6 span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Kalpurush" !important;
}
.ministry-form .mf-component .header h6 span.active {
  background-color: #f5fff9;
  border: 1px solid #f4f6f9;
  margin-right: 10px;
}

.ministry-form .mf-component .header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
}

.ministry-form .mf-component .header .number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ministry-form .mf-component .header .number.active {
  background-color: #f5fff9;
  border: 1px solid #f4f6f9;
  margin-right: 10px;
}
.ministry-form .mf-component .body {
  padding-left: 8px;
  padding-right: 8px;
}

button.one-info {
  background: #f7ffed;
  padding: 10px;
}

.ministry-form .mf-component.one ul li {
  margin-left: 1rem;
  list-style-type: disc !important;
}
.ministry-form .mf-component.two .bs_checkbox:hover {
  color: #0db14b;
  transition: 300ms;
}

.ministry-form .mf-component.three-four .yes .grohita {
  background-color: #f8f9f8;
  color: #9c7c00;
  padding: 10px;
}

.ministry-form .mf-component.three-four .kotojon-khotian {
  max-width: 325px;
}

.ministry-form .mf-component.three-four .kotojon-khotian input {
  font-size: 12px;
  padding: 20px 14px;
}

.ministry-form .mf-component.three-four .kotojon-khotian button {
  background-color: #0db14b;
  color: white;
  width: 108px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ministry-form table thead tr th {
  background-color: #f0f0f0;
  border-color: #dee2e6;
  text-align: center;
  font-weight: normal;
}
.ministry-form table tbody tr td span {
  font-family: "Kalpurush" !important;
}
.ministry-form table tbody tr td {
  background-color: #fcfcfc;
}
.ministry-form table thead tr th,
.ministry-form table tbody tr td {
  white-space: nowrap !important;
}

.ministry-form table tbody tr td > select {
  width: 100px;
  margin: auto;
  border-color: #0db14b;
}
.ministry-form table tbody tr td > select:hover {
  background-color: #42a045;
}
.ministry-form table tbody tr td > select:focus {
  background-color: #fcfcfc;
}

.ministry-form .mf-component.seven table tbody tr td a {
  margin: -5px 0;
}

.ministry-bottom-menu button {
  margin: 0.5rem;
  font-size: 13px;
}
.ministry-bottom-menu button.light {
  background-color: #ebecef;
}
.ministry-bottom-menu button.blue {
  background-color: #0065ff;
}
