@font-face {
  font-family: "Kalpurush";
  src: url("../fonts/Kalpurush/kalpurush-kalpurush.eot");
  src: url("../fonts/Kalpurush/kalpurush-kalpurush.woff") format("woff"),
    url("../fonts/Kalpurush/Kalpurush-Regular.ttf") format("truetype"),
    url("../fonts/Kalpurush/kalpurush-kalpurush.svg") format("svg"),
    url("../fonts/Kalpurush/kalpurush-kalpurush.eot")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.font-kalpurush *,
.font-kalpurush {
  font-family: "Kalpurush" !important;
}

.icon-songukto-more {
  height: 20px;
  width: 19px;
  display: inline-block;
  background: url(../images/icon-songukto-more.svg) no-repeat center center;
  background-size: 100%;
  transform: translateY(5px);
}
.icon-cross {
  height: 20px;
  width: 19px;
  display: inline-block;
  background: url(../images/cross_icon-red-white.svg) no-repeat center center;
  background-size: 100%;
  transform: translateY(5px);
}

.ministry-form .mf-component {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin-bottom: 10px;
}

.ministry-form .mf-component .header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.ministry-form .mf-component .header .number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ministry-form .mf-component .header .number.active {
  background-color: #f5fff9;
  border: 1px solid #f4f6f9;
}

button.one-info {
  background: #f7ffed;
  padding: 10px;
}

.ministry-form .mf-component.three-four .kotojon-khotian {
  max-width: 350px;
}

.ministry-form .mf-component.three-four .kotojon-khotian input {
  font-size: 12px;
  padding: 20px 14px;
}
.ministry-form .mf-component.three-four .kotojon-khotian button {
  background-color: #0db14b;
  color: white;
  width: 108px;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ministry-form .mf-component.five .dolil-jukto span {
  background-color: #0db14b;
  color: white;
}
.ministry-form .mf-component.five .dolil-jukto label::after {
  content: "";
  padding: 0;
}

.ministry-form .mf-component.five .remove-dolil {
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.ministry-form .mf-component.six table thead tr th,
.ministry-form .mf-component.seven table thead tr th {
  background-color: #f0f0f0;
  border: none;
  text-align: center;
  font-weight: normal;
}
.ministry-form .mf-component.six table tbody tr td {
  background-color: #fcfcfc;
}
.ministry-form .mf-component.six table tbody tr td select {
  max-width: 90px;
  margin: auto;
  border-color: #0db14b;
}


.ministry-bottom-menu button.light{
  background-color: #EBECEF;
}
.ministry-bottom-menu button.blue{
  background-color: #0065FF;
}
