/* some utils classes */
.text-black {
  color: #000000;
}

/* mutation checkbox */
.mutation-main .bs_checkbox [type="radio"]:not(:checked) + label:after,
.mutation-main .bs_checkbox [type="radio"]:checked + label:after,
.mutation-main .bs_checkbox [type="radio"]:not(:checked) + label:before,
.mutation-main .bs_checkbox [type="radio"]:checked + label:before,
.mutation-main .bs_checkbox [type="checkbox"]:not(:checked) + label:after,
.mutation-main .bs_checkbox [type="checkbox"]:checked + label:after,
.mutation-main .bs_checkbox [type="checkbox"]:not(:checked) + label:before,
.mutation-main .bs_checkbox [type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  background: url(../images/icon-checkbox-mutation.svg) no-repeat center center;
  background-size: 100%;
}

.mutation-main .bs_checkbox [type="radio"]:not(:checked) + label:after,
.mutation-main .bs_checkbox [type="radio"]:checked + label:after,
.mutation-main .bs_checkbox [type="checkbox"]:not(:checked) + label:after,
.mutation-main .bs_checkbox [type="checkbox"]:checked + label:after {
  transition: all 0.2s;
  background: url(../images/icon-checkbox-checked-mutation.svg) no-repeat center
    center;
  background-size: 100%;
}
.mutation-main .bs_checkbox {
  padding: 4px 10px;
  border-radius: 4px;
  margin-right: 10px !important;
}

.mutation-main .btn-close-top-right {
  position: absolute;
  right: -8px;
  top: -10px;
  padding: 3px 6px 3px 6px !important;
  line-height: 1;
  border-radius: 4px !important;
  margin: 0 !important;
  box-shadow: none !important;
}

.mutation-main .court-fees-radio {
  display: inline-block;
}
.mutation-main .court-fees-radio [type="radio"] {
  display: none;
}
.mutation-main .court-fees-radio + .mutation-main .court-fees-radio {
  margin-top: 15px;
}
.mutation-main .court-fees-radio label {
  display: inline-block;
  padding: 9px 10px 3px 45px;
  background: #ffffff;
  border: 1px solid #a5abb3;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
}
.mutation-main .court-fees-radio label:after,
.mutation-main .court-fees-radio label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.mutation-main .court-fees-radio label:after {
  height: 20px;
  width: 20px;
  border: 1px solid #858c94;
  left: 10px;
}
.mutation-main .court-fees-radio label:before {
  background: #ffffff;
  height: 10px;
  width: 10px;
  left: 15px;
  top: 14px;
  opacity: 0;
  transform: scale(0.5);
  visibility: hidden;
  transition: 0.3s ease-in-out 0s;
}
.mutation-main .court-fees-radio [type="radio"]:checked ~ label {
  border-color: #00684d;
  background-color: #00684d;
  color: white;
}
.mutation-main .court-fees-radio [type="radio"]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.mutation-main .court-fees-radio [type="radio"]:checked ~ label::after {
  border-color: white;
}

/* font change of navbar */
.mutation-main .mutation-menu.page-menu .lmt-page-menu .navbar ul {
  border-radius: 0 !important;
}
.mutation-main
  .mutation-menu.page-menu
  .lmt-page-menu
  .navbar
  ul
  li.active
  a:after {
  left: 45%;
}

.mutation-main .mutation-menu.page-menu .lmt-page-menu .navbar ul li a {
  font-family: "Kalpurush", sans-serif !important;
  border-radius: 0 !important;
  padding: 10px 20px 10px 50px;
}

.mutation-main .mutation-menu.page-menu .lmt-page-menu .navbar ul li a i {
  scale: 0.7;
}

.mutation-main
  .mutation-menu.page-menu
  .lmt-page-menu
  .navbar
  ul
  li
  a
  .lm-icon {
  left: 10px;
}

/* mutation-payment */
.mutation-main .mutation-payment .mutation-modal .mutation-modal-item {
  background-color: #c5ecd4;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  padding: 1px;
  margin-bottom: 23px;
}
.mutation-main .mutation-payment .mutation-modal .mutation-modal-item > div {
  padding: 23px 22px;
}
.mutation-main .mutation-payment .mutation-modal .mutation-modal-item > h6 {
  margin: 14px 13px;
  font-weight: bold;
  font-size: 18px;
}
.mutation-main .mutation-payment .mutation-modal .mutation-modal-item h6 {
  font-size: 18px;
}
.mutation-main .mutation-payment .mutation-modal .mutation-modal-item * p {
  margin-bottom: 10px;
}

.mutation-main .mutation-payment .mutation-modal .mutation-modal-item .card {
  background-color: #fbfbfb;
}
.mutation-main
  .mutation-payment
  .mutation-modal
  .mutation-modal-item
  .card
  .card-body {
  padding: 22px 13px;
}
.mutation-main
  .mutation-payment
  .mutation-modal
  .mutation-modal-item
  .card
  img.nid_logo {
  width: 26px;
  height: 26px;
}

.mutation-main .mutation-payment {
  background-color: #c5ecd4;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  padding: 20px 1px 1px 1px;
}
.mutation-main .mutation-payment > div {
  padding: 23px 22px 23px 22px;
  border-radius: 0px 0px 6px 6px;
}
.mutation-main .mutation-payment > p strong {
  padding: 14px;
}

.mutation-main .mutation-payment .payment-methods .left {
  background-color: #eaf6ec;
  border: 1px solid #82cc93;
  padding: 23px 15px;
}
.mutation-main .mutation-payment .payment-methods .left p {
  margin-bottom: 10px;
}
.mutation-main .mutation-payment .payment-methods .left p.light-50 {
  color: #666666;
}
.mutation-main .mutation-payment .payment-methods .right .card {
  padding: 10px;
  text-align: center;
}
.mutation-main .mutation-payment .payment-methods .right p {
  color: #00684d;
  margin-bottom: 0;
  font-weight: bold;
}
