/* some utils classes */
.text-black {
  color: #000000;
}

.court-fees-radio {
  display: inline-block;
}
.court-fees-radio [type="radio"] {
  display: none;
}
.court-fees-radio + .court-fees-radio {
  margin-top: 15px;
}
.court-fees-radio label {
  display: inline-block;
  padding: 9px 10px 3px 45px;
  background: #ffffff;
  border: 1px solid #a5abb3;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
}
.court-fees-radio label:after,
.court-fees-radio label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.court-fees-radio label:after {
  height: 20px;
  width: 20px;
  border: 1px solid #858c94;
  left: 10px;
}
.court-fees-radio label:before {
  background: #ffffff;
  height: 10px;
  width: 10px;
  left: 15px;
  top: 14px;
  opacity: 0;
  transform: scale(0.5);
  visibility: hidden;
  transition: 0.3s ease-in-out 0s;
}
.court-fees-radio [type="radio"]:checked ~ label {
  border-color: #00684d;
  background-color: #00684d;
  color: white;
}
.court-fees-radio [type="radio"]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.court-fees-radio [type="radio"]:checked ~ label::after {
  border-color: white;
}

/* font change of navbar */
.mutation-menu.page-menu .lmt-page-menu .navbar ul {
  border-radius: 0 !important;
}
.mutation-menu.page-menu .lmt-page-menu .navbar ul li.active a:after {
  left: 45%;
}

.mutation-menu.page-menu .lmt-page-menu .navbar ul li a {
  font-family: "Kalpurush", sans-serif !important;
  border-radius: 0 !important;
  padding: 10px 20px 10px 50px;
}

.mutation-menu.page-menu .lmt-page-menu .navbar ul li a i {
  scale: 0.7;
}

.mutation-menu.page-menu .lmt-page-menu .navbar ul li a .lm-icon {
  left: 10px;
}

/* mutation-payment */
.mutation-payment {
  background-color: #c5ecd4 !important;
}
